.encabezado{
    width: 5%;
    height: 5%;
}

.logo-encabezado{
    width: 100%;
    height: 100%;
}

.contenido{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.input {
    width: 40%;
}

.output{
    width: 30%;
}

.text-area{
    width: 100%;
}

.mensaje{
    width: 100%;
}

.text-area:focus,.text-area:active{
    border: none;
    outline: none;
}

.botones{
    gap: 2%;
    display: flex;
    margin-top: 2%;
}

.btn-encriptar, .btn-desencriptar, .copiar, .pegar{
    padding: 2%;
    line-height: 19px;
    text-align: center;
    width: 35%;
    border-radius: 8px;
    margin: .2%;  
    color: var(--fuente-btn);
    box-shadow: 2px 2px 5px rgba(121, 46, 190, 0.5);
}

.btn-encriptar:hover, .btn-desencriptar:hover, .copiar:hover, .pegar:hover{
    width: 36%;
    box-shadow: 2px 2px 5px rgba(191, 77, 209, 0.5);
}

.btn-encriptar{
    background-color: var(--btn-encriptar);
}
.btn-desencriptar{
    background-color: var(--btn-desencriptar);
}

.copiar{
    background-color: var(--copiar);
}

.pegar{
    background-color: var(--pegar);
}

.mensaje, .text-area{
    background: var(--cajas-color);
    border: none;
    border-radius: 24px;
    padding: 4%;
    opacity: 85%;
    color: var(--fuente-color);
}
.mensaje{ 
    background-image: url(imagenes/encriptar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 88%;
}

.mensaje:focus {
    outline: none;
}

.informacion{
    margin-top: 2%;
}

.redes{
    display: flex;
    justify-content: space-around;
}

#linkedin:hover, #artstation:hover, #github:hover, #behance:hover{
    margin: 0.1%;
    width: 51px;
    padding: .1%;
    box-shadow: 2px 2px 5px rgba(143, 105, 132, 0.5);
}

.redes a{
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(122, 75, 165, 0.5);
    transition: all .4s ease-in-out;
}

.creditos{
    margin-top: .2%;
}

@media screen and (max-width: 1024px) {
    .encabezado{
        width: 93%;
        height: 15%;
        display: flex;
        justify-content: center;
    }

    .logo-encabezado {
        width: 10%;
        height: 10%;
    }

    .contenido{
        padding-top: 4%;
    }

    .input {
        width: 50%;
    }
    
    .output{
        width: 40%;
    }

    .informacion {
        margin-top: 5%;
    }

    .btn-encriptar:hover, .btn-desencriptar:hover, .copiar:hover, .pegar:hover{
        width: 35%;
        box-shadow: 2px 2px 5px rgba(121, 46, 190, 0.5);
    }

    .botones {
        margin-bottom: 5%;
    }

    .mensaje, .text-area {
        width: 92%;
    }

    #linkedin:hover, #artstation:hover, #github:hover, #behance:hover{
        margin: 0;
        width: 50px;
        padding: 0;
        box-shadow: 2px 2px 5px rgba(122, 75, 165, 0.5);
    }
}

@media screen and (max-width: 480px) {
    .encabezado{
        width: 93%;
        height: 15%;
        display: flex;
        justify-content: center;
    }

    .logo-encabezado {
        width: 15%;
        height: 15%;
    }
    .contenido{
        flex-direction: column;
    }

    .input {
        width: 94%;
    }
    
    .output{
        width: 94%;
    }

    .botones {
        margin-bottom: 5%;
    }

    .btn-encriptar:hover, .btn-desencriptar:hover, .copiar:hover, .pegar:hover{
        width: 35%;
        box-shadow: 2px 2px 5px rgba(121, 46, 190, 0.5);
    }

    .informacion {
        display: flex;
        justify-content: center;
    }

    .mensaje, .text-area {
        width: 92%;
    }

    #linkedin:hover, #artstation:hover, #github:hover, #behance:hover{
        margin: 0;
        width: 50px;
        padding: 0;
        box-shadow: 2px 2px 5px rgba(122, 75, 165, 0.5);
    }
    
}